.app-auth{
  width: 30%;
  margin: 2rem auto;
  .form-item{
    padding: .25rem;
  }
  label{
    width: 100%;
    font-size: 1rem;
    color: #999;
    input{
      width: 97%;
      border-radius: .25rem;
      font-size: 1.5rem;
    }
  }
  .form-actions{
    text-align: right;
  }
}
